extends layout

block content
  .container
    if messages.error
      div.text-danger(role='alert')
        for error in messages.error
          div= error.msg
    if messages.success
      div.text-success(role='alert')
        for success in messages.success
          div= success.msg
    if messages.info
      div.text-info(role='alert')
        for info in messages.info
          div= info.msg

    .row
      each listing in listings
        .col-sm
          h3= listing.title
          p= listing.description
          p= listing.price
          a(href='#', role='button') View details